services:
  traefik:
    image: "traefik:v2.11"
    container_name: "traefik"
    ports:
      - "80:80"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    command:
      - "--log.level=info"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web.entrypoints=web"

  static-app:
    build: "static"
    container_name: "static-app"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.static-app.loadbalancer.server.port=80"
      - "traefik.http.routers.static-app.entrypoints=web"
      - "traefik.http.routers.static-app.rule=PathPrefix(`/`)"

  simulator-app:
    image: "ghcr.io/oggm/bokeh:20221229"
    container_name: "simulator-app"
    command:
      - "git+https://github.com/OGGM/glacier_simulator.git@v1.9"
      - "app.ipynb"
    environment:
      - "BOKEH_PREFIX=/simulator"
      - "BOKEH_ALLOW_WS_ORIGIN=${WS_ORIGIN}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.simulator-app.loadbalancer.server.port=8080"
      - "traefik.http.routers.simulator-app.entrypoints=web"
      - "traefik.http.routers.simulator-app.rule=PathPrefix(`/simulator`)"

  explorer-app:
    image: "oggm/bokeh:20191210"
    container_name: "explorer-app"
    command:
      - "git+https://github.com/OGGM/world-glacier-explorer.git@v1.6"
      - "app.ipynb"
    environment:
      - "BOKEH_PREFIX=/explorer"
      - "BOKEH_ALLOW_WS_ORIGIN=${WS_ORIGIN}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.explorer-app.loadbalancer.server.port=8080"
      - "traefik.http.routers.explorer-app.entrypoints=web"
      - "traefik.http.routers.explorer-app.rule=PathPrefix(`/explorer`)"

  mb_simulator-app:
    image: "oggm/bokeh:20211010"
    container_name: "mb_simulator-app"
    command:
      - "git+https://github.com/OGGM/mb_simulator.git@v1.3"
      - "app.ipynb"
    environment:
      - "BOKEH_PREFIX=/mb_simulator"
      - "BOKEH_ALLOW_WS_ORIGIN=${WS_ORIGIN}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.mb_simulator-app.loadbalancer.server.port=8080"
      - "traefik.http.routers.mb_simulator-app.entrypoints=web"
      - "traefik.http.routers.mb_simulator-app.rule=PathPrefix(`/mb_simulator`)"

  hma_glacial_lakes-app:
    image: "ghcr.io/oggm/bokeh:20230101"
    container_name: "hma_glacial_lakes-app"
    command:
      - "git+https://github.com/OGGM/hma_glacial_lakes.git@v1.0"
      - "app.ipynb"
    environment:
      - "BOKEH_PREFIX=/hma_glacial_lakes"
      - "BOKEH_ALLOW_WS_ORIGIN=${WS_ORIGIN}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.hma_glacial_lakes-app.loadbalancer.server.port=8080"
      - "traefik.http.routers.hma_glacial_lakes-app.entrypoints=web"
      - "traefik.http.routers.hma_glacial_lakes-app.rule=PathPrefix(`/hma_glacial_lakes`)"

  dtcgweb-app:
    container_name: "dtcgweb-app"
    build:
      context: https://github.com/DTC-Glaciers/dtcg-web.git#v1.0.0
    environment:
      - "BOKEH_PREFIX=/dtcgweb"
      - "BOKEH_ALLOW_WS_ORIGIN=${WS_ORIGIN}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.dtcgweb-app.loadbalancer.server.port=8080"
      - "traefik.http.routers.dtcgweb-app.entrypoints=web"
      - "traefik.http.routers.dtcgweb-app.rule=PathPrefix(`/dtcgweb`)"
